n8n/smart-meter/Flow2-Daily Update PEA Cycle Summary.json
{
  "name": "Flow2-Daily Update PEA Cycle Summary",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1120,
        -544
      ],
      "id": "2b59c1d1-5780-418b-9e9a-eb6286c171fd",
      "name": "CRON | Daily 00:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77e20b42-38af-4fab-b61f-be0cf75389b0",
              "name": "ts_midnight",
              "value": "={{ DateTime.now().setZone('Asia/Bangkok').startOf('day').toISO() }}",
              "type": "string"
            },
            {
              "id": "39cd4802-63f7-4aac-98e4-92aa6d1c625c",
              "name": "cycle_key",
              "value": "={{ \"MSUSmartFarm|PZEM016|\" + DateTime.now().setZone('Asia/Bangkok').toFormat('yyyy-MM') }}",
              "type": "string"
            },
            {
              "id": "f0a6dfa5-b941-47fe-9404-62cf5ea92972",
              "name": "snapshot_ts",
              "value": "={{ DateTime.now().setZone('Asia/Bangkok').startOf('day').toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -544
      ],
      "id": "9512dbee-199e-4fa3-9322-0adbcab1c850",
      "name": "SET | Build midnight row_key + cycle_key"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "energy_raw_5m",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cycle_key",
              "lookupValue": "={{ $json.cycle_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        -544
      ],
      "id": "93ea72bf-bbeb-4a69-ab7a-146ac1d09389",
      "name": "GS | Lookup RAW @00:00",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6fbe59a3-ad73-4f8e-b43c-8f1589f72fa2",
              "leftValue": "={{ Object.keys($json || {}).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        -544
      ],
      "id": "2493a7b5-3dd5-4b53-970a-751d8dfad974",
      "name": "IF | RAW Found?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "214cf1c9-1da6-4ac4-8b5c-71223ee2dfa2",
              "name": "message",
              "value": "no raw at midnight",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -448
      ],
      "id": "192bb1db-10bd-44a7-955a-6d661a6c091f",
      "name": "LOG | No RAW at midnight - Skipped"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36f659b7-4ef4-49ee-9eb5-ac0c842d5faf",
              "name": "billing_period",
              "value": "={{ $json.billing_period || \"\" }}",
              "type": "string"
            },
            {
              "id": "92c69781-7566-49dd-9c3d-9eca08aa18a5",
              "name": "last_update_ts",
              "value": "={{ $node[\"SET | Build midnight row_key + cycle_key\"].json.ts_midnight }}",
              "type": "string"
            },
            {
              "id": "f31fd199-0287-4724-9b06-1b4a83029073",
              "name": "site",
              "value": "={{ $json.site || \"\" }}",
              "type": "string"
            },
            {
              "id": "52444298-72ac-4622-951d-980ece859405",
              "name": "device",
              "value": "={{ $json.device || \"\" }}",
              "type": "string"
            },
            {
              "id": "3a27a771-5206-467d-9f85-56c6893bc996",
              "name": "kwh_cycle",
              "value": "={{ $json.kwh_cycle || 0 }} ",
              "type": "string"
            },
            {
              "id": "2fc166ad-df8e-4de1-b490-39929cb6d794",
              "name": "base_cost",
              "value": "={{ $json.base_cost || 0 }} ",
              "type": "string"
            },
            {
              "id": "d1fe8794-560f-4acd-a495-980d34215d81",
              "name": "service_charge",
              "value": "={{ $json.service_charge || 0 }} ",
              "type": "string"
            },
            {
              "id": "29a1ea3a-06ff-408a-a255-648967a679d0",
              "name": "ft_rate",
              "value": "={{ $json.ft_rate || 0 }} ",
              "type": "string"
            },
            {
              "id": "4c125016-eacd-4a33-8ef5-68e1f2e5b314",
              "name": "ft_cost",
              "value": "={{ $json.ft_cost || 0 }} ",
              "type": "string"
            },
            {
              "id": "38933773-74a9-4009-b8a8-5d64ea7eb5a8",
              "name": "subtotal_before_vat",
              "value": "={{ $json.subtotal_before_vat || 0 }} ",
              "type": "string"
            },
            {
              "id": "9e972da4-3018-49da-8bf5-1533221f6ab8",
              "name": "vat_7_percent",
              "value": "={{ $json.vat_7_percent || 0 }}",
              "type": "string"
            },
            {
              "id": "99b1ffdf-bfc2-4adc-8244-5efa8c23dda5",
              "name": "total_cost",
              "value": "={{ $json.total_cost || 0 }}",
              "type": "string"
            },
            {
              "id": "4a74f014-eb33-467e-a815-394d0fdab365",
              "name": "cycle_key",
              "value": "={{ $json.cycle_key || $node[\"SET | Build midnight row_key + cycle_key\"].json.cycle_key }}",
              "type": "string"
            },
            {
              "id": "16078aba-3336-4e12-b9cd-c56e578d5069",
              "name": "snapshot_ts",
              "value": "={{ $node[\"SET | Build midnight row_key + cycle_key\"].json.ts_midnight }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -640
      ],
      "id": "cf221632-ff31-4829-b6f5-baa50155b98b",
      "name": "SET | Build Cycle Summary Payload"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cycle_key",
              "lookupValue": "={{ $json.cycle_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -640
      ],
      "id": "ed820dc7-98ae-44cd-9c31-359a09ebcad8",
      "name": "GS | Find Cycle Row",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3af957ce-8918-4946-8bad-260d02081f8f",
              "leftValue": "={{ $json.cycle_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        -640
      ],
      "id": "900f1e17-204c-4d1a-bcd2-1a876d768c62",
      "name": "IF | Cycle Exists?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_key": "={{ $json.cycle_key }}",
            "billing_period": "={{ $json.billing_period }}",
            "last_update_ts": "={{ $json.last_update_ts }}",
            "site": "={{ $json.site }}",
            "device": "={{ $json.device }}",
            "kwh_cycle": "={{ $json.kwh_cycle }}",
            "base_cost": "={{ $json.base_cost }}",
            "service_charge": "={{ $json.service_charge }}",
            "ft_rate": "={{ $json.ft_rate }}",
            "ft_cost": "={{ $json.ft_cost }}",
            "subtotal_before_vat": "={{ $json.subtotal_before_vat }}",
            "vat_7_percent": "={{ $json.vat_7_percent }}",
            "total_cost": "={{ $json.total_cost }}",
            "row_number": "={{ Number($json.row_number) }}",
            "snapshot_ts": "={{ $json.snapshot_ts }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snapshot_ts",
              "displayName": "snapshot_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        -736
      ],
      "id": "4edc805e-e61a-47ef-ae67-09f17369a8f7",
      "name": "GS | Update Cycle Summary",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "billing_period": "={{ $json.billing_period }}",
            "last_update_ts": "={{ $json.last_update_ts }}",
            "device": "={{ $json.device }}",
            "kwh_cycle": "={{ $json.kwh_cycle }}",
            "service_charge": "={{ $json.service_charge }}",
            "subtotal_before_vat": "={{ $json.subtotal_before_vat }}",
            "vat_7_percent": "={{ $json.vat_7_percent }}",
            "site": "={{ $json.site }}",
            "ft_rate": "={{ $json.ft_rate }}",
            "ft_cost": "={{ $json.ft_cost }}",
            "total_cost": "={{ $json.total_cost }}",
            "base_cost": "={{ $json.base_cost }}",
            "cycle_key": "={{ $json.cycle_key }}",
            "snapshot_ts": "={{ $json.snapshot_ts }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snapshot_ts",
              "displayName": "snapshot_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        -544
      ],
      "id": "ee528d0f-8479-4b83-9698-d3d620436c09",
      "name": "GS | Append Cycle Summary",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nitems.sort((a,b) => (b.json.ts||'').localeCompare(a.json.ts||''));\nreturn items.slice(0,1);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -544
      ],
      "id": "d406f7bf-dfe7-4edc-9bd8-9add26b7fc8f",
      "name": "CODE | Select Latest RAW"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Merge Find + Payload (FIXED - payload wins)\n// Purpose:\n// - Merge payload (from \"SET | Build Cycle Summary Payload\") with lookup result\n//   (from \"GS | Find Cycle Row\") that may be empty.\n// - Always output a single item with full payload fields.\n// - Add cycle_exists boolean.\n// - If cycle exists, attach row_number as a NUMBER (optional; useful if Update by row_number).\n\nconst payload = $node[\"SET | Build Cycle Summary Payload\"]?.json || {};\nconst found = $json || {}; // input from \"GS | Find Cycle Row\" (may be empty)\n\n// Detect whether the cycle row exists in summary sheet\nconst cycleExists = Object.keys(found || {}).length > 0;\n\n// Try to get row number from possible keys returned by Google Sheets node\nconst rawRowNumber =\n  found.row_number ??\n  found.rowNumber ??\n  found.rowIndex ??\n  null;\n\n// Build merged object\n// IMPORTANT: payload MUST win (so updated timestamps & values are not overwritten by old sheet values)\nconst merged = {\n  ...found,\n  ...payload,\n  cycle_exists: cycleExists,\n};\n\n// If exists, ensure row_number is a real number (only if you still use it somewhere)\nif (cycleExists && rawRowNumber !== null && rawRowNumber !== undefined && rawRowNumber !== \"\") {\n  merged.row_number = Number(rawRowNumber);\n}\n\n// Strongly enforce key fields from payload (prevents old values from found overriding)\nif (payload.cycle_key) merged.cycle_key = payload.cycle_key;\nif (payload.snapshot_ts) merged.snapshot_ts = payload.snapshot_ts;\nif (payload.last_update_ts) merged.last_update_ts = payload.last_update_ts;\n\n// Safety fallbacks (only when payload is missing them)\nconst midnightNode = $node[\"SET | Build midnight row_key + cycle_key\"]?.json || {};\nif (!merged.cycle_key && midnightNode.cycle_key) merged.cycle_key = midnightNode.cycle_key;\n\n// NOTE: Do NOT fallback last_update_ts to ts_midnight unless you truly want it to be 00:00.\n// If you want \"run time\" timestamps, payload.last_update_ts should always be present.\n// Keep this fallback only as a safety net:\nif (!merged.last_update_ts && payload.last_update_ts == null && midnightNode.ts_midnight) {\n  merged.last_update_ts = midnightNode.ts_midnight;\n}\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -640
      ],
      "id": "0b7a6f95-8ef5-45e7-9dc0-45e75217d84e",
      "name": "CODE | Merge Find + Payload"
    },
    {
      "parameters": {
        "content": "## 🌙 Flow 2 : Daily Cycle Builder (อัปเดตสรุปรายวัน / รอบบิล)",
        "height": 496,
        "width": 2320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        -768
      ],
      "typeVersion": 1,
      "id": "5aac108e-7892-4d6f-ad5d-1daaa3b78adc",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "CRON | Daily 00:00": {
      "main": [
        [
          {
            "node": "SET | Build midnight row_key + cycle_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Build midnight row_key + cycle_key": {
      "main": [
        [
          {
            "node": "GS | Lookup RAW @00:00",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Lookup RAW @00:00": {
      "main": [
        [
          {
            "node": "CODE | Select Latest RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | RAW Found?": {
      "main": [
        [
          {
            "node": "SET | Build Cycle Summary Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG | No RAW at midnight - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Build Cycle Summary Payload": {
      "main": [
        [
          {
            "node": "GS | Find Cycle Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Find Cycle Row": {
      "main": [
        [
          {
            "node": "CODE | Merge Find + Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Cycle Exists?": {
      "main": [
        [
          {
            "node": "GS | Update Cycle Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS | Append Cycle Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Select Latest RAW": {
      "main": [
        [
          {
            "node": "IF | RAW Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Merge Find + Payload": {
      "main": [
        [
          {
            "node": "IF | Cycle Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "58b8e142-2ece-4a6d-8fce-0a2b4bc36ea9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e8bd4e6dcfe2d257f6d9648f4efaf76882daef04e1402d554d9aae9132bba97"
  },
  "id": "j5zUMrt6r6mFJRpm",
  "tags": []
}