n8n/smart-meter/xFlow1-Raw-log5min-Flow2-Daily-cycle-Flow3-Billing Close & Notify-pdf-history6.json
{
  "name": "xFlow1-Raw-log5min-Flow2-Daily-cycle-Flow3-Billing Close & Notify-pdf-history6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ha-pzem016-raw-5m",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1616,
        -1008
      ],
      "id": "029fe48f-7b18-4eb4-9e3f-fd17b3785f3a",
      "name": "Webhook",
      "webhookId": "596bfe95-3c49-4b5a-8b6d-ac90c4aaebc2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d771b20e-f16a-4dae-80e2-62771b1bbe8b",
              "name": "ts_5m",
              "value": "={{ (() => {\n  const d = new Date($json.body.timestamp);\n  d.setSeconds(0,0);\n  d.setMinutes(Math.floor(d.getMinutes()/5)*5);\n  return d.toISOString();\n})() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        -1008
      ],
      "id": "130d2cf5-b62a-4d05-99d3-76eaa36c3c21",
      "name": "SET | Build ts_5m"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d771b20e-f16a-4dae-80e2-62771b1bbe8b",
              "name": "row_key",
              "value": "={{ $json.body.site + '_' + $json.body.device + '_' + $json.body.ts_5m }}",
              "type": "string"
            },
            {
              "id": "9fb88a0e-370b-4e08-a671-36f1961b9544",
              "name": "cycle_key",
              "value": "={{ \n  $node[\"Webhook\"].json.body.site \n  + \"|\" + \n  $node[\"Webhook\"].json.body.device \n  + \"|\" + \n  $node[\"SET | Build ts_5m\"].json.ts_5m.slice(0,7) \n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -944
      ],
      "id": "d97d280b-7b72-4877-9c7a-5460f4fcfcc3",
      "name": "SET | Build row_key + cycle_key",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "214cf1c9-1da6-4ac4-8b5c-71223ee2dfa2",
              "name": "message",
              "value": "duplicate skipped",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -896
      ],
      "id": "3c7863ec-7d53-483e-b518-592cc6e5488d",
      "name": "LOG | RAW Duplicate - Skipped"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "energy_raw_5m",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ts": "={{$node[\"Webhook\"].json.body.timestamp}}",
            "site": "={{$node[\"Webhook\"].json.body.site}}",
            "device": "={{$node[\"Webhook\"].json.body.device}}",
            "billing_period": "={{$node[\"Webhook\"].json.body.billing_period}}",
            "kwh_cycle": "={{$node[\"Webhook\"].json.body.kwh_cycle}}",
            "voltage_v": "={{$node[\"Webhook\"].json.body.voltage_v}}",
            "current_a": "={{$node[\"Webhook\"].json.body.current_a}}",
            "power_w": "={{$node[\"Webhook\"].json.body.power_w}}",
            "frequency_hz": "={{$node[\"Webhook\"].json.body.frequency_hz}}",
            "power_factor": "={{$node[\"Webhook\"].json.body.power_factor}}",
            "kwh_today": "={{$node[\"Webhook\"].json.body.kwh_today}}",
            "row_key": "={{ $node[\"SET | Build row_key + cycle_key\"].json.row_key }}",
            "ts_5m": "={{ $node[\"SET | Build ts_5m\"].json.ts_5m }}",
            "cycle_key": "={{ $node[\"SET | Build row_key + cycle_key\"].json.cycle_key }}",
            "base_cost": "={{ $node[\"Webhook\"].json.body.base_cost }}",
            "service_charge": "={{ $node[\"Webhook\"].json.body.service_charge }}",
            "ft_rate": "={{ $node[\"Webhook\"].json.body.ft_rate }}",
            "ft_cost": "={{ $node[\"Webhook\"].json.body.ft_cost }}",
            "subtotal_before_vat": "={{ $node[\"Webhook\"].json.body.subtotal_before_vat }}",
            "vat_7_percent": "={{ $node[\"Webhook\"].json.body.vat_7_percent }}",
            "total_cost": "={{ $node[\"Webhook\"].json.body.total_cost }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voltage_v",
              "displayName": "voltage_v",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_a",
              "displayName": "current_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "power_w",
              "displayName": "power_w",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frequency_hz",
              "displayName": "frequency_hz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "power_factor",
              "displayName": "power_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kwh_today",
              "displayName": "kwh_today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_key",
              "displayName": "row_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ts_5m",
              "displayName": "ts_5m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        -1200
      ],
      "id": "cdbc8506-7840-4671-a8ae-0d8398dec44a",
      "name": "GS | Append Energy RAW (5m)",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1632,
        -480
      ],
      "id": "1b6321f0-d42e-4f70-8e96-93705ef39fad",
      "name": "CRON | Daily 00:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77e20b42-38af-4fab-b61f-be0cf75389b0",
              "name": "ts_midnight",
              "value": "={{ DateTime.now().setZone('Asia/Bangkok').startOf('day').toISO() }}",
              "type": "string"
            },
            {
              "id": "39cd4802-63f7-4aac-98e4-92aa6d1c625c",
              "name": "cycle_key",
              "value": "={{ \"MSUSmartFarm|PZEM016|\" + DateTime.now().setZone('Asia/Bangkok').toFormat('yyyy-MM') }}",
              "type": "string"
            },
            {
              "id": "f0a6dfa5-b941-47fe-9404-62cf5ea92972",
              "name": "snapshot_ts",
              "value": "={{ DateTime.now().setZone('Asia/Bangkok').startOf('day').toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        -480
      ],
      "id": "c0e386db-e0a3-46d8-83b5-fce7b771751e",
      "name": "SET | Build midnight row_key + cycle_key"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "energy_raw_5m",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cycle_key",
              "lookupValue": "={{ $json.cycle_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1184,
        -480
      ],
      "id": "8a3f762c-e253-4700-80d3-0d4b9aaef944",
      "name": "GS | Lookup RAW @00:00",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6fbe59a3-ad73-4f8e-b43c-8f1589f72fa2",
              "leftValue": "={{ Object.keys($json || {}).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        -480
      ],
      "id": "af699ab8-fd43-4707-8e86-3f964f824b12",
      "name": "IF | RAW Found?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "214cf1c9-1da6-4ac4-8b5c-71223ee2dfa2",
              "name": "message",
              "value": "no raw at midnight",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -384
      ],
      "id": "b065d34f-27f0-4969-a903-7c0c457a77f4",
      "name": "LOG | No RAW at midnight - Skipped"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36f659b7-4ef4-49ee-9eb5-ac0c842d5faf",
              "name": "billing_period",
              "value": "={{ $json.billing_period || \"\" }}",
              "type": "string"
            },
            {
              "id": "92c69781-7566-49dd-9c3d-9eca08aa18a5",
              "name": "last_update_ts",
              "value": "={{ $node[\"SET | Build midnight row_key + cycle_key\"].json.ts_midnight }}",
              "type": "string"
            },
            {
              "id": "f31fd199-0287-4724-9b06-1b4a83029073",
              "name": "site",
              "value": "={{ $json.site || \"\" }}",
              "type": "string"
            },
            {
              "id": "52444298-72ac-4622-951d-980ece859405",
              "name": "device",
              "value": "={{ $json.device || \"\" }}",
              "type": "string"
            },
            {
              "id": "3a27a771-5206-467d-9f85-56c6893bc996",
              "name": "kwh_cycle",
              "value": "={{ $json.kwh_cycle || 0 }} ",
              "type": "string"
            },
            {
              "id": "2fc166ad-df8e-4de1-b490-39929cb6d794",
              "name": "base_cost",
              "value": "={{ $json.base_cost || 0 }} ",
              "type": "string"
            },
            {
              "id": "d1fe8794-560f-4acd-a495-980d34215d81",
              "name": "service_charge",
              "value": "={{ $json.service_charge || 0 }} ",
              "type": "string"
            },
            {
              "id": "29a1ea3a-06ff-408a-a255-648967a679d0",
              "name": "ft_rate",
              "value": "={{ $json.ft_rate || 0 }} ",
              "type": "string"
            },
            {
              "id": "4c125016-eacd-4a33-8ef5-68e1f2e5b314",
              "name": "ft_cost",
              "value": "={{ $json.ft_cost || 0 }} ",
              "type": "string"
            },
            {
              "id": "38933773-74a9-4009-b8a8-5d64ea7eb5a8",
              "name": "subtotal_before_vat",
              "value": "={{ $json.subtotal_before_vat || 0 }} ",
              "type": "string"
            },
            {
              "id": "9e972da4-3018-49da-8bf5-1533221f6ab8",
              "name": "vat_7_percent",
              "value": "={{ $json.vat_7_percent || 0 }}",
              "type": "string"
            },
            {
              "id": "99b1ffdf-bfc2-4adc-8244-5efa8c23dda5",
              "name": "total_cost",
              "value": "={{ $json.total_cost || 0 }}",
              "type": "string"
            },
            {
              "id": "4a74f014-eb33-467e-a815-394d0fdab365",
              "name": "cycle_key",
              "value": "={{ $json.cycle_key || $node[\"SET | Build midnight row_key + cycle_key\"].json.cycle_key }}",
              "type": "string"
            },
            {
              "id": "16078aba-3336-4e12-b9cd-c56e578d5069",
              "name": "snapshot_ts",
              "value": "={{ $node[\"SET | Build midnight row_key + cycle_key\"].json.ts_midnight }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -576
      ],
      "id": "a5a2be01-e1c0-4f0a-992f-808e8fed283d",
      "name": "SET | Build Cycle Summary Payload"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cycle_key",
              "lookupValue": "={{ $json.cycle_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -288,
        -576
      ],
      "id": "4b3770ad-6b0b-4922-80d5-82d43e056e96",
      "name": "GS | Find Cycle Row",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3af957ce-8918-4946-8bad-260d02081f8f",
              "leftValue": "={{ $json.cycle_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -576
      ],
      "id": "95012b06-61dd-40db-90ac-26c6084241f7",
      "name": "IF | Cycle Exists?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cycle_key": "={{ $json.cycle_key }}",
            "billing_period": "={{ $json.billing_period }}",
            "last_update_ts": "={{ $json.last_update_ts }}",
            "site": "={{ $json.site }}",
            "device": "={{ $json.device }}",
            "kwh_cycle": "={{ $json.kwh_cycle }}",
            "base_cost": "={{ $json.base_cost }}",
            "service_charge": "={{ $json.service_charge }}",
            "ft_rate": "={{ $json.ft_rate }}",
            "ft_cost": "={{ $json.ft_cost }}",
            "subtotal_before_vat": "={{ $json.subtotal_before_vat }}",
            "vat_7_percent": "={{ $json.vat_7_percent }}",
            "total_cost": "={{ $json.total_cost }}",
            "row_number": "={{ Number($json.row_number) }}",
            "snapshot_ts": "={{ $json.snapshot_ts }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snapshot_ts",
              "displayName": "snapshot_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -672
      ],
      "id": "d29ff671-459f-4ab0-8d22-6ac38e5143d1",
      "name": "GS | Update Cycle Summary",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "billing_period": "={{ $json.billing_period }}",
            "last_update_ts": "={{ $json.last_update_ts }}",
            "device": "={{ $json.device }}",
            "kwh_cycle": "={{ $json.kwh_cycle }}",
            "service_charge": "={{ $json.service_charge }}",
            "subtotal_before_vat": "={{ $json.subtotal_before_vat }}",
            "vat_7_percent": "={{ $json.vat_7_percent }}",
            "site": "={{ $json.site }}",
            "ft_rate": "={{ $json.ft_rate }}",
            "ft_cost": "={{ $json.ft_cost }}",
            "total_cost": "={{ $json.total_cost }}",
            "base_cost": "={{ $json.base_cost }}",
            "cycle_key": "={{ $json.cycle_key }}",
            "snapshot_ts": "={{ $json.snapshot_ts }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snapshot_ts",
              "displayName": "snapshot_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -480
      ],
      "id": "19b5c992-86ba-4ea5-875a-530007cc886a",
      "name": "GS | Append Cycle Summary",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nitems.sort((a,b) => (b.json.ts||'').localeCompare(a.json.ts||''));\nreturn items.slice(0,1);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -480
      ],
      "id": "ddec4fea-ab8c-4381-90c3-14e1a31f9b6e",
      "name": "CODE | Select Latest RAW"
    },
    {
      "parameters": {
        "jsCode": "// CODE | Merge Find + Payload (FIXED - payload wins)\n// Purpose:\n// - Merge payload (from \"SET | Build Cycle Summary Payload\") with lookup result\n//   (from \"GS | Find Cycle Row\") that may be empty.\n// - Always output a single item with full payload fields.\n// - Add cycle_exists boolean.\n// - If cycle exists, attach row_number as a NUMBER (optional; useful if Update by row_number).\n\nconst payload = $node[\"SET | Build Cycle Summary Payload\"]?.json || {};\nconst found = $json || {}; // input from \"GS | Find Cycle Row\" (may be empty)\n\n// Detect whether the cycle row exists in summary sheet\nconst cycleExists = Object.keys(found || {}).length > 0;\n\n// Try to get row number from possible keys returned by Google Sheets node\nconst rawRowNumber =\n  found.row_number ??\n  found.rowNumber ??\n  found.rowIndex ??\n  null;\n\n// Build merged object\n// IMPORTANT: payload MUST win (so updated timestamps & values are not overwritten by old sheet values)\nconst merged = {\n  ...found,\n  ...payload,\n  cycle_exists: cycleExists,\n};\n\n// If exists, ensure row_number is a real number (only if you still use it somewhere)\nif (cycleExists && rawRowNumber !== null && rawRowNumber !== undefined && rawRowNumber !== \"\") {\n  merged.row_number = Number(rawRowNumber);\n}\n\n// Strongly enforce key fields from payload (prevents old values from found overriding)\nif (payload.cycle_key) merged.cycle_key = payload.cycle_key;\nif (payload.snapshot_ts) merged.snapshot_ts = payload.snapshot_ts;\nif (payload.last_update_ts) merged.last_update_ts = payload.last_update_ts;\n\n// Safety fallbacks (only when payload is missing them)\nconst midnightNode = $node[\"SET | Build midnight row_key + cycle_key\"]?.json || {};\nif (!merged.cycle_key && midnightNode.cycle_key) merged.cycle_key = midnightNode.cycle_key;\n\n// NOTE: Do NOT fallback last_update_ts to ts_midnight unless you truly want it to be 00:00.\n// If you want \"run time\" timestamps, payload.last_update_ts should always be present.\n// Keep this fallback only as a safety net:\nif (!merged.last_update_ts && payload.last_update_ts == null && midnightNode.ts_midnight) {\n  merged.last_update_ts = midnightNode.ts_midnight;\n}\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -576
      ],
      "id": "2d6764b5-c865-4374-a7b4-dae7034f85f7",
      "name": "CODE | Merge Find + Payload"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "5 0 15 * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1648,
        -96
      ],
      "id": "a1465040-30b2-4fd0-8a35-ae6b9411e265",
      "name": "CRON | Monthly 15th 00:05"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cycle_key",
              "lookupValue": "={{ $json.cycle_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        160
      ],
      "id": "746fe1f6-ff75-4d01-915d-b4aa8b822e8b",
      "name": "GS | Find Cycle Summary",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3af957ce-8918-4946-8bad-260d02081f8f",
              "leftValue": "={{ !!$items(\"GS | Find Cycle Summary\")[0]?.json?.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1328,
        160
      ],
      "id": "a43227b9-4ff6-42a2-a44d-d129de00db86",
      "name": "IF | Summary Exists?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "214cf1c9-1da6-4ac4-8b5c-71223ee2dfa2",
              "name": "message",
              "value": "no summary row for cycle_key",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        352
      ],
      "id": "9d1169c0-cb8f-425c-87aa-8c7a240cdd66",
      "name": "LOG | No Summary Row - Skipped"
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\n\nreturn [{\n  cycle_key: row.cycle_key,\n  billing_period_th: row.billing_period,   // ✔️ ชื่อจริง\n  energy_kwh: Number(row.kwh_cycle || 0),  // ✔️\n  base_cost: Number(row.base_cost || 0),\n  ft_cost: Number(row.ft_cost || 0),\n  ft_rate: Number(row.ft_rate || 0),\n  service_cost: Number(row.service_charge || 0), // ✔️\n  vat_cost: Number(row.vat_7_percent || 0),      // ✔️\n  total_cost: Number(row.total_cost || 0),\n  generated_at: new Date().toISOString()\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -64
      ],
      "id": "da3257c8-ac16-4a6c-bb3e-859a93b21ae2",
      "name": "Code | Build Report Data"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\n// เวลาไทย (Asia/Bangkok)\nconst generatedTh = d.last_update_ts\n  ? new Date(d.last_update_ts).toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" })\n  : (d.generated_at\n      ? new Date(d.generated_at).toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" })\n      : new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }));\n\n// helper: number format (กัน NaN)\nconst n = (v, digits = 2) => {\n  const num = Number(v);\n  return Number.isFinite(num) ? num.toFixed(digits) : (0).toFixed(digits);\n};\n\n// helper: string safe\nconst s = (v) => (v ?? \"\").toString().trim();\n\n// =====================\n// ✅ Safe fallback source (กรณี field บางตัวอยู่ใน history_6)\n// =====================\nconst h0 = Array.isArray(d.history_6) && d.history_6.length ? d.history_6[0] : {};\n\n// =====================\n// ✅ Map field (รองรับชื่อคอลัมน์จาก pea_cycle_summary)\n// =====================\nconst period = s(d.billing_period_th || d.billing_period || h0.billing_period_th || h0.billing_period);\nconst kwh = Number(d.energy_kwh ?? d.kwh_cycle ?? h0.energy_kwh ?? h0.kwh_cycle ?? 0);\n\nconst base = Number(d.base_cost ?? h0.base_cost ?? 0);\nconst ftCost = Number(d.ft_cost ?? h0.ft_cost ?? 0);\nconst ftRate = Number(d.ft_rate ?? h0.ft_rate ?? 0);\n\nconst service = Number(d.service_cost ?? d.service_charge ?? h0.service_cost ?? h0.service_charge ?? 0);\nconst subBeforeVat = Number(d.subtotal_before_vat ?? h0.subtotal_before_vat ?? (base + service + ftCost));\n\nconst vat = Number(d.vat_cost ?? d.vat_7_percent ?? h0.vat_cost ?? h0.vat_7_percent ?? 0);\nconst total = Number(d.total_cost ?? h0.total_cost ?? 0);\n\n// =====================\n// ✅ History table rows (ย้อนหลัง 6 รอบ)\n// =====================\nconst history = Array.isArray(d.history_6) ? d.history_6 : [];\nconst historyRows = history.length\n  ? history.map((h, i) => {\n      const hp = s(h.billing_period_th || h.billing_period);\n      const hkwh = Number(h.energy_kwh ?? h.kwh_cycle ?? 0);\n      const htotal = Number(h.total_cost ?? 0);\n      return `\n        <tr>\n          <td class=\"c\">${i + 1}</td>\n          <td class=\"l\">${hp}</td>\n          <td class=\"r\">${n(hkwh, 4)}</td>\n          <td class=\"r\">${n(htotal, 2)}</td>\n        </tr>\n      `;\n    }).join(\"\")\n  : `\n      <tr>\n        <td colspan=\"4\" class=\"c muted\">ยังไม่มีข้อมูลประวัติการใช้ไฟย้อนหลัง</td>\n      </tr>\n    `;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <style>\n    @page { margin: 22px; }\n\n    body{\n      font-family: \"Noto Sans Thai\", Arial, sans-serif;\n      font-size: 12.5px;\n      line-height: 1.45;\n      color: #111;\n    }\n\n    /* ===== Header (PEA-like) ===== */\n    .header{\n      display:flex;\n      align-items:flex-start;\n      justify-content:space-between;\n      gap: 12px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid #b71c1c;\n      margin-bottom: 10px;\n    }\n\n    .brand{\n      display:flex;\n      gap:10px;\n      align-items:flex-start;\n    }\n\n    .logo{\n      width:34px;\n      height:34px;\n      border-radius: 50%;\n      border: 1px solid #b71c1c;\n      display:flex;\n      align-items:center;\n      justify-content:center;\n      font-weight:800;\n      color:#b71c1c;\n      font-size: 12px;\n    }\n\n    .brand-title{\n      font-size: 14.5px;\n      font-weight: 800;\n      margin: 0;\n    }\n\n    .brand-sub{\n      font-size: 11.5px;\n      color:#555;\n      margin-top: 2px;\n    }\n\n    .doc-title{\n      text-align:right;\n    }\n\n    .doc-title .t1{\n      font-size: 14.5px;\n      font-weight: 800;\n      margin: 0;\n    }\n\n    .doc-title .t2{\n      font-size: 11.5px;\n      color:#555;\n      margin-top: 2px;\n    }\n\n    /* ===== Info block ===== */\n    .info{\n      border: 1px solid #cfcfcf;\n      background: #fafafa;\n      border-radius: 6px;\n      padding: 10px 12px;\n      margin: 10px 0 12px 0;\n    }\n\n    .info-grid{\n      display:grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 6px 18px;\n    }\n\n    .row{\n      display:flex;\n      gap: 8px;\n      align-items:flex-start;\n    }\n\n    .label{\n      min-width: 130px;\n      font-weight: 700;\n      color:#333;\n      white-space: nowrap;\n    }\n\n    .value{\n      color:#111;\n      flex:1;\n      word-break: break-word;\n    }\n\n    /* ===== Tables ===== */\n    table{\n      width:100%;\n      border-collapse: collapse;\n      margin-top: 10px;\n    }\n\n    th, td{\n      border: 1px solid #cfcfcf;\n      padding: 8px 9px;\n    }\n\n    th{\n      background: #f2f2f2;\n      text-align:left;\n      font-weight: 800;\n    }\n\n    .bill th{ width: 68%; }\n    .bill td{ width: 32%; }\n\n    td{ text-align:right; }\n\n    .total-row th, .total-row td{\n      background: #fff3e0;\n      font-weight: 900;\n      border-top: 2px solid #b71c1c;\n    }\n\n    /* ✅ note ควรเป็น inline (ไม่ใช้ margin-top) */\n    .note{\n      font-size: 11px;\n      color:#555;\n      font-weight: 600;\n      display: inline;\n      margin-left: 6px;\n    }\n\n    /* History table */\n    .section-title{\n      margin-top: 14px;\n      font-weight: 900;\n      font-size: 12.5px;\n      border-left: 4px solid #b71c1c;\n      padding-left: 8px;\n    }\n\n    .history th{\n      background: #f6f6f6;\n    }\n\n    .c{ text-align:center; }\n    .l{ text-align:left; }\n    .r{ text-align:right; }\n    .muted{ color:#777; }\n\n    .footer{\n      margin-top: 12px;\n      padding-top: 8px;\n      border-top: 1px dashed #bbb;\n      font-size: 11px;\n      color:#555;\n      display:flex;\n      justify-content:space-between;\n      gap: 10px;\n    }\n\n    .stamp{\n      text-align:right;\n      color:#b71c1c;\n      font-weight: 800;\n      letter-spacing: .2px;\n    }\n  </style>\n</head>\n<body>\n\n  <!-- ===== Header ===== -->\n  <div class=\"header\">\n    <div class=\"brand\">\n      <div class=\"logo\">PEA</div>\n      <div>\n        <div class=\"brand-title\">การไฟฟ้าส่วนภูมิภาค (PEA)</div>\n        <div class=\"brand-sub\">Provincial Electricity Authority</div>\n      </div>\n    </div>\n    <div class=\"doc-title\">\n      <div class=\"t1\">ใบแจ้งค่าไฟฟ้า</div>\n      <div class=\"t2\">Electricity Bill Summary</div>\n    </div>\n  </div>\n\n  <!-- ===== Customer / Meter Info ===== -->\n  <div class=\"info\">\n    <div class=\"info-grid\">\n      <div class=\"row\">\n        <div class=\"label\">ชื่อผู้ใช้ไฟฟ้า</div>\n        <div class=\"value\">${s(d.customer_name) || \"-\"}</div>\n      </div>\n      <div class=\"row\">\n        <div class=\"label\">รอบบิล</div>\n        <div class=\"value\"><b>${period || \"-\"}</b></div>\n      </div>\n\n      <div class=\"row\">\n        <div class=\"label\">สถานที่ใช้ไฟฟ้า</div>\n        <div class=\"value\">${s(d.location) || \"-\"}</div>\n      </div>\n      <div class=\"row\">\n        <div class=\"label\">หมายเลขมิเตอร์</div>\n        <div class=\"value\">${s(d.meter_id) || \"-\"}</div>\n      </div>\n\n      <div class=\"row\">\n        <div class=\"label\">รหัสรอบบิล</div>\n        <div class=\"value\">${s(d.cycle_key) || \"-\"}</div>\n      </div>\n      <div class=\"row\">\n        <div class=\"label\">วันที่อัปเดต</div>\n        <div class=\"value\">${generatedTh}</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- ===== Bill Summary Table ===== -->\n  <table class=\"bill\">\n    <tr><th>พลังงานไฟฟ้า (kWh)</th><td>${n(kwh, 4)}</td></tr>\n    <tr><th>ค่าไฟฐาน</th><td>${n(base, 2)}</td></tr>\n    <tr>\n      <th>ค่า FT <span class=\"note\">(อัตรา ${n(ftRate, 4)} บาท/หน่วย)</span></th>\n      <td>${n(ftCost, 2)}</td>\n    </tr>\n    <tr><th>ค่าบริการรายเดือน</th><td>${n(service, 2)}</td></tr>\n    <tr><th>รวมก่อนภาษี</th><td>${n(subBeforeVat, 2)}</td></tr>\n    <tr><th>ภาษีมูลค่าเพิ่ม (VAT 7%)</th><td>${n(vat, 2)}</td></tr>\n    <tr class=\"total-row\"><th>รวมเงินที่ต้องชำระทั้งสิ้น</th><td>${n(total, 2)}</td></tr>\n  </table>\n\n  <!-- ===== History Section ===== -->\n  <div class=\"section-title\">ประวัติการใช้ไฟฟ้าย้อนหลัง (สูงสุด 6 รอบบิลล่าสุด)</div>\n  <table class=\"history\">\n    <tr>\n      <th style=\"width:10%\">ลำดับ</th>\n      <th style=\"width:50%\">รอบบิล</th>\n      <th style=\"width:20%\">พลังงาน (kWh)</th>\n      <th style=\"width:20%\">ค่าไฟ (บาท)</th>\n    </tr>\n    ${historyRows}\n  </table>\n\n  <!-- ===== Footer ===== -->\n  <div class=\"footer\">\n    <div>\n      หมายเหตุ: เอกสารนี้สร้างโดยระบบอัตโนมัติ (n8n) เพื่อการแจ้งเตือนและสรุปข้อมูล ไม่ใช่ใบแจ้งหนี้ทางการของ PEA\n    </div>\n    <div class=\"stamp\">\n      AUTO-GENERATED\n    </div>\n  </div>\n\n</body>\n</html>`;\n\nreturn [{ data: html }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        304
      ],
      "id": "d5386b29-e029-479f-ad92-fa27079153f7",
      "name": "Code | Build HTML Template"
    },
    {
      "parameters": {
        "jsCode": "const d = new Date();\nconst ym = `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2,'0')}`;\n\nreturn [{\n  site: 'MSUSmartFarm',\n  device: 'PZEM016',\n  cycle_key: `MSUSmartFarm|PZEM016|${ym}`\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        -96
      ],
      "id": "2ba61122-63aa-4ce5-95cc-eb1990bd8cbd",
      "name": "Code | Build cycle_key (closing)"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\n// fallback: ถ้า ft_rate/ft_cost อยู่ใน history_6 ก็เอามาใช้\nconst h0 = Array.isArray(d.history_6) && d.history_6.length ? d.history_6[0] : {};\n\nconst n = (v, digit = 2) => {\n  const num = Number(v);\n  return Number.isFinite(num) ? num.toFixed(digit) : \"0.00\";\n};\nconst s = (v) => (v ?? \"-\").toString();\n\nconst billing = s(d.billing_period_th || d.billing_period || h0.billing_period_th || h0.billing_period);\nconst energy = d.energy_kwh ?? d.kwh_cycle ?? h0.energy_kwh ?? h0.kwh_cycle ?? 0;\n\nconst base = d.base_cost ?? h0.base_cost ?? 0;\nconst service = d.service_cost ?? d.service_charge ?? h0.service_cost ?? h0.service_charge ?? 0;\n\nconst ftRate = d.ft_rate ?? h0.ft_rate ?? 0;        // ✅ แก้หลัก: fallback\nconst ftCost = d.ft_cost ?? h0.ft_cost ?? 0;        // ✅ แก้หลัก: fallback\n\nconst vat = d.vat_cost ?? d.vat_7_percent ?? h0.vat_cost ?? h0.vat_7_percent ?? 0;\nconst total = d.total_cost ?? h0.total_cost ?? 0;\n\nconst message =\n`📊 สรุปค่าไฟฟ้ารายเดือน\nรอบบิล: ${billing}\n\n⚡ พลังงานไฟฟ้า: ${n(energy, 4)} kWh\n💰 ค่าไฟฐาน: ${n(base, 2)} บาท\n🔁 ค่า FT (อัตรา ${n(ftRate, 4)} บาท/หน่วย): ${n(ftCost, 2)} บาท\n🧾 ค่าบริการรายเดือน: ${n(service, 2)} บาท\n🧮 ภาษีมูลค่าเพิ่ม (VAT 7%): ${n(vat, 2)} บาท\n\n✅ รวมทั้งสิ้น: ${n(total, 2)} บาท\n\n📄 ใบแจ้งค่าไฟฟ้า (PDF)\n${s(d.pdf_url)}`;\n\nreturn [{ message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -48
      ],
      "id": "46c6c768-e724-438e-8dd3-136782b9eb63",
      "name": "Code | Build LINE Message"
    },
    {
      "parameters": {
        "message": "={{ $json.message }}",
        "replyToken": "=",
        "targetRecipient": "={{ $('Set (LINE Target)').item.json.toId }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessaging",
      "typeVersion": 1,
      "position": [
        1536,
        304
      ],
      "id": "0ee7061a-74a8-44ef-8cda-16cdd8d7110a",
      "name": "LineMessaging-SendMessage",
      "credentials": {
        "lineMessagingAuthApi": {
          "id": "WT3wCk9QTNKg04ul",
          "name": "Line-Message-PEA-Summary-Noti"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "toId",
              "value": "=U75423c4a49a67c07bfb2852e7389d6ff"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set (LINE Target)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1056,
        304
      ],
      "id": "665085b3-baf0-4d8b-9bd1-4e189fd3c0fb",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "text": "={{ $json.message }}"
      },
      "type": "n8n-nodes-linewebhook.LineMessageNode",
      "typeVersion": 1,
      "position": [
        1296,
        304
      ],
      "id": "e19f5104-3353-4e81-ab08-f71b53861c32",
      "name": "LineMessageNode"
    },
    {
      "parameters": {
        "content": "## 🔁  Flow 1 : RAW Logger (บันทึกข้อมูลทุก 5 นาที และตามเงื่อนไขการเปลี่ยนแปลงของ Power (W))",
        "height": 528,
        "width": 1968,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -1248
      ],
      "typeVersion": 1,
      "id": "c63662fb-7b65-4aa9-9397-e28eb7412aad",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🌙 Flow 2 : Daily Cycle Builder (อัปเดตสรุปรายวัน / รอบบิล)",
        "height": 496,
        "width": 2320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -704
      ],
      "typeVersion": 1,
      "id": "1bfe1b3a-72fc-4f6b-abde-47856471e933",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📣 Flow 3 : Billing Close & Notify (ปิดรอบบิล + แจ้งเตือน)",
        "height": 736,
        "width": 3504,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -192
      ],
      "typeVersion": 1,
      "id": "f15a2bd8-ca70-4384-8472-93a059ecbdf5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {
          "fileName": "index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        304
      ],
      "id": "b75e7abd-ebd6-43fb-be7a-ae4fd072984a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        304
      ],
      "id": "5531d486-3c0f-4cfc-9bdc-dd6bbb82b23f",
      "name": "HTTP Request (Gotenberg)"
    },
    {
      "parameters": {
        "name": "=Electric_Bill_{{$node[\"Code | Build Report Data\"].json.billing_period_th}}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1J5Oh23irbzW3bBWYAZuatBVTgdkbzcRq",
          "mode": "list",
          "cachedResultName": "PEA_Bill",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1J5Oh23irbzW3bBWYAZuatBVTgdkbzcRq"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        304
      ],
      "id": "8e7e567e-8c5e-4ed8-aba1-16545d52e0eb",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P9Z5kOmIoUPoIB2L",
          "name": "Google Drive account-OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        304
      ],
      "id": "22cc7e9b-0e32-4f09-8e3e-f346e31c08f4",
      "name": "Google Drive – Share (Permission)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P9Z5kOmIoUPoIB2L",
          "name": "Google Drive account-OAuth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fddf89d4-8564-4adb-8d60-c7a460789b83",
              "name": "pdf_url",
              "value": "={{$node[\"Upload file\"].json.webViewLink}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        304
      ],
      "id": "70b89f68-e096-4cf9-bb94-9feb37fae448",
      "name": "Set pdf_url"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        -48
      ],
      "id": "01490d54-c223-4e7f-95b9-b92629deaa52",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c0f1aec-d5d3-465c-9c04-7230aa165c4f",
              "name": "customer_name",
              "value": "นาย สมโภช ทองน้ำเที่ยง",
              "type": "string"
            },
            {
              "id": "36f67003-2d2b-4dda-90d6-10997089e80d",
              "name": "location",
              "value": "579/4 หมู่ที่ 20 ต.ขามเรียง อ.กันทรวิชัย จ.มหาสารคาม",
              "type": "string"
            },
            {
              "id": "bdf9dd10-e46d-4139-baa1-c6cf684c6435",
              "name": "meter_id",
              "value": "6201352349",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        304
      ],
      "id": "c67784aa-4406-45d8-a6dc-f15e3959f2c0",
      "name": "SET | Bill Metadata"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 919573753,
          "mode": "list",
          "cachedResultName": "pea_cycle_summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=919573753"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1072,
        304
      ],
      "id": "a8dc8e00-e8f8-4e56-93c8-f3716ee95537",
      "name": "GS | Read Cycle History (last 6)",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items = แถวที่อ่านมาจาก GS | Read Cycle History (last 6)\nconst rows = items.map(i => i.json);\n\n// ดึงข้อมูลบิลหลักจาก Code | Build Report Data (นี่แหละที่ต้องเอามาด้วย)\nconst report = $node[\"Code | Build Report Data\"].json;\n\n// filter ตาม site/device (ถ้า report ไม่มี site/device ก็ไม่เป็นไร ใช้ทุกแถว)\nconst filtered = rows\n  .filter(r => (!report.site || r.site === report.site) && (!report.device || r.device === report.device))\n  .sort((a, b) => new Date(b.last_update_ts) - new Date(a.last_update_ts))\n  .slice(0, 6);\n\nreturn [\n  {\n    json: {\n      ...report,          // ✅ บิลหลัก (billing_period_th, energy_kwh, base_cost, service_cost, vat_cost, total_cost, generated_at, cycle_key)\n      history_6: filtered // ✅ ประวัติย้อนหลัง\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        304
      ],
      "id": "4d8f1be0-d907-44d1-9db4-19a12275e845",
      "name": "Code | Build History Array"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "energy_raw_5m",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "device",
              "lookupValue": "={{$json.body.device}}"
            },
            {
              "lookupColumn": "site",
              "lookupValue": "={{$json.body.site}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -928,
        -944
      ],
      "id": "e683ad2f-36ee-4982-8cba-d9c32690d76a",
      "name": "GS | Find Last Power",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nif (!rows.length) {\n  return [{ json: { ts: 0, power_w: 0 } }];\n}\n\n// เรียงจาก ts ใหม่สุด -> เก่าสุด\nrows.sort((a, b) => new Date(b.ts).getTime() - new Date(a.ts).getTime());\n\n// ส่งกลับแถวล่าสุดจริง 1 แถว\nreturn [{ json: rows[0] }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -1008
      ],
      "id": "fb6bba86-97c6-468d-8b10-3798212d864d",
      "name": "CODE | Pick Latest Power"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8ce641e4-cac9-4b06-ae03-50e186ca7602",
              "leftValue": "={{\n  Math.abs(\n    Number($node[\"Webhook\"].json.body.power_w || 0) -\n    Number($items(\"CODE | Pick Latest Power\")[0].json.power_w || 0)\n  )\n}}",
              "rightValue": "={{\n  (() => {\n    const p = Number($node[\"Webhook\"].json.body.power_w) || 0;\n\n    // ใช้ timestamp จาก HA\n    const ts = $node[\"Webhook\"].json.body.timestamp;\n    const hour = new Date(ts).getHours();\n    const isNight = (hour >= 22 || hour < 6);\n\n    // กลางคืน: 5 / 10 / 50\n    if (isNight) {\n      if (p < 200) return 5;\n      if (p < 1000) return 10;\n      return 50;\n    }\n\n    // กลางวัน: 10 / 20 / 100\n    if (p < 200) return 10;\n    if (p < 1000) return 20;\n    return 100;\n  })()\n}}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        -1008
      ],
      "id": "6254922d-6889-4c7a-a7e5-5ec016269c26",
      "name": "IF | Power Changed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f20f1150-94f6-45c5-8288-c7a8130f66e8",
              "leftValue": "={{ Math.floor(new Date($node[\"Webhook\"].json.body.timestamp).getTime() / 300000) }}",
              "rightValue": "={{ Math.floor(new Date($items(\"CODE | Pick Latest Power\")[0].json.ts).getTime() / 300000) }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        -912
      ],
      "id": "a7cfd0ac-90c3-426c-a3a5-7d54c621dbb2",
      "name": "IF | New 5m Bucket?"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "energy_raw_5m",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{$items(\"CODE | Pick Latest Power\")[0].json.row_number}}",
            "ts": "={{$node[\"Webhook\"].json.body.timestamp}}",
            "voltage_v": "={{$node[\"Webhook\"].json.body.voltage_v}}",
            "current_a": "={{$node[\"Webhook\"].json.body.current_a}}",
            "power_w": "={{$node[\"Webhook\"].json.body.power_w}}",
            "ts_5m": "={{$node[\"SET | Build ts_5m\"].json.ts_5m}}",
            "row_key": "={{$node[\"SET | Build row_key + cycle_key\"].json.row_key}}",
            "site": "={{$node[\"Webhook\"].json.body.site}}",
            "device": "={{$node[\"Webhook\"].json.body.device}}",
            "billing_period": "={{$node[\"Webhook\"].json.body.billing_period}}",
            "kwh_cycle": "={{$node[\"Webhook\"].json.body.kwh_cycle}}",
            "frequency_hz": "={{$node[\"Webhook\"].json.body.frequency_hz}}",
            "power_factor": "={{$node[\"Webhook\"].json.body.power_factor}}",
            "kwh_today": "={{$node[\"Webhook\"].json.body.kwh_today}}",
            "cycle_key": "={{$node[\"SET | Build row_key + cycle_key\"].json.cycle_key}}",
            "base_cost": "={{$node[\"Webhook\"].json.body.base_cost}}",
            "service_charge": "={{$node[\"Webhook\"].json.body.service_charge}}",
            "ft_rate": "={{$node[\"Webhook\"].json.body.ft_rate}}",
            "ft_cost": "={{$node[\"Webhook\"].json.body.ft_cost}}",
            "subtotal_before_vat": "={{$node[\"Webhook\"].json.body.subtotal_before_vat}}",
            "vat_7_percent": "={{$node[\"Webhook\"].json.body.vat_7_percent}}",
            "total_cost": "={{$node[\"Webhook\"].json.body.total_cost}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voltage_v",
              "displayName": "voltage_v",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_a",
              "displayName": "current_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "power_w",
              "displayName": "power_w",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frequency_hz",
              "displayName": "frequency_hz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "power_factor",
              "displayName": "power_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kwh_today",
              "displayName": "kwh_today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_key",
              "displayName": "row_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ts_5m",
              "displayName": "ts_5m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -1104
      ],
      "id": "165f28a9-bc4b-455b-b65c-f9f911662f2c",
      "name": "GS | Update Latest Row",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY",
          "mode": "list",
          "cachedResultName": "power_meter_logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "energy_raw_5m",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EU2z4oDA9TtLifjMSg3yWb5m8KUNISaxntUZcYImLfY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ts": "={{$node[\"Webhook\"].json.body.timestamp}}",
            "site": "={{$node[\"Webhook\"].json.body.site}}",
            "device": "={{$node[\"Webhook\"].json.body.device}}",
            "billing_period": "={{$node[\"Webhook\"].json.body.billing_period}}",
            "kwh_cycle": "={{$node[\"Webhook\"].json.body.kwh_cycle}}",
            "voltage_v": "={{$node[\"Webhook\"].json.body.voltage_v}}",
            "current_a": "={{$node[\"Webhook\"].json.body.current_a}}",
            "power_w": "={{$node[\"Webhook\"].json.body.power_w}}",
            "frequency_hz": "={{$node[\"Webhook\"].json.body.frequency_hz}}",
            "power_factor": "={{$node[\"Webhook\"].json.body.power_factor}}",
            "kwh_today": "={{$node[\"Webhook\"].json.body.kwh_today}}",
            "row_key": "={{ $node[\"SET | Build row_key + cycle_key\"].json.row_key }}",
            "ts_5m": "={{ $node[\"SET | Build ts_5m\"].json.ts_5m }}",
            "cycle_key": "={{ $node[\"SET | Build row_key + cycle_key\"].json.cycle_key }}",
            "base_cost": "={{ $node[\"Webhook\"].json.body.base_cost }}",
            "service_charge": "={{ $node[\"Webhook\"].json.body.service_charge }}",
            "ft_rate": "={{ $node[\"Webhook\"].json.body.ft_rate }}",
            "ft_cost": "={{ $node[\"Webhook\"].json.body.ft_cost }}",
            "subtotal_before_vat": "={{ $node[\"Webhook\"].json.body.subtotal_before_vat }}",
            "vat_7_percent": "={{ $node[\"Webhook\"].json.body.vat_7_percent }}",
            "total_cost": "={{ $node[\"Webhook\"].json.body.total_cost }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ts",
              "displayName": "ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "device",
              "displayName": "device",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kwh_cycle",
              "displayName": "kwh_cycle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voltage_v",
              "displayName": "voltage_v",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_a",
              "displayName": "current_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "power_w",
              "displayName": "power_w",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frequency_hz",
              "displayName": "frequency_hz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "power_factor",
              "displayName": "power_factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kwh_today",
              "displayName": "kwh_today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_key",
              "displayName": "row_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ts_5m",
              "displayName": "ts_5m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cycle_key",
              "displayName": "cycle_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "base_cost",
              "displayName": "base_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_charge",
              "displayName": "service_charge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_rate",
              "displayName": "ft_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ft_cost",
              "displayName": "ft_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal_before_vat",
              "displayName": "subtotal_before_vat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vat_7_percent",
              "displayName": "vat_7_percent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1040,
        -1168
      ],
      "id": "3cb08532-8628-4a90-a2ad-d1218fbfe42e",
      "name": "GS | Append Energy RAW (5m)1",
      "credentials": {
        "googleApi": {
          "id": "HjMRmBLbJigs0y41",
          "name": "Google Sheets account-ha-n8n-power-meter"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SET | Build ts_5m",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Build ts_5m": {
      "main": [
        [
          {
            "node": "SET | Build row_key + cycle_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Build row_key + cycle_key": {
      "main": [
        [
          {
            "node": "GS | Find Last Power",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON | Daily 00:00": {
      "main": [
        [
          {
            "node": "SET | Build midnight row_key + cycle_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Build midnight row_key + cycle_key": {
      "main": [
        [
          {
            "node": "GS | Lookup RAW @00:00",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Lookup RAW @00:00": {
      "main": [
        [
          {
            "node": "CODE | Select Latest RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | RAW Found?": {
      "main": [
        [
          {
            "node": "SET | Build Cycle Summary Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG | No RAW at midnight - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Build Cycle Summary Payload": {
      "main": [
        [
          {
            "node": "GS | Find Cycle Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Find Cycle Row": {
      "main": [
        [
          {
            "node": "CODE | Merge Find + Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Cycle Exists?": {
      "main": [
        [
          {
            "node": "GS | Update Cycle Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS | Append Cycle Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Select Latest RAW": {
      "main": [
        [
          {
            "node": "IF | RAW Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Merge Find + Payload": {
      "main": [
        [
          {
            "node": "IF | Cycle Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON | Monthly 15th 00:05": {
      "main": [
        [
          {
            "node": "Code | Build cycle_key (closing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Find Cycle Summary": {
      "main": [
        [
          {
            "node": "IF | Summary Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Summary Exists?": {
      "main": [
        [
          {
            "node": "Code | Build Report Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG | No Summary Row - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build Report Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "GS | Read Cycle History (last 6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build cycle_key (closing)": {
      "main": [
        [
          {
            "node": "GS | Find Cycle Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build LINE Message": {
      "main": [
        [
          {
            "node": "Set (LINE Target)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (LINE Target)": {
      "main": [
        [
          {
            "node": "LineMessageNode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LineMessageNode": {
      "main": [
        [
          {
            "node": "LineMessaging-SendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build HTML Template": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request (Gotenberg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Gotenberg)": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Google Drive – Share (Permission)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive – Share (Permission)": {
      "main": [
        [
          {
            "node": "Set pdf_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set pdf_url": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code | Build LINE Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET | Bill Metadata": {
      "main": [
        [
          {
            "node": "Code | Build HTML Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Read Cycle History (last 6)": {
      "main": [
        [
          {
            "node": "Code | Build History Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code | Build History Array": {
      "main": [
        [
          {
            "node": "SET | Bill Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Find Last Power": {
      "main": [
        [
          {
            "node": "CODE | Pick Latest Power",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CODE | Pick Latest Power": {
      "main": [
        [
          {
            "node": "IF | Power Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | Power Changed?": {
      "main": [
        [
          {
            "node": "GS | Append Energy RAW (5m)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF | New 5m Bucket?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF | New 5m Bucket?": {
      "main": [
        [
          {
            "node": "GS | Update Latest Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG | RAW Duplicate - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS | Append Energy RAW (5m)1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "932aa9ab-3387-489f-9c76-8681569f2385",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e8bd4e6dcfe2d257f6d9648f4efaf76882daef04e1402d554d9aae9132bba97"
  },
  "id": "cHP6WWpMZwjbGFEz",
  "tags": []
}